<?xml version="1.0"?>
<robot name="echo_plus" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find hex_toolkit_echo_plus)/urdf/echo_plus.urdf" />
    
    <gazebo>
        <plugin name="planar_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryRate>100.0</odometryRate>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
        </plugin>
    </gazebo>

</robot>
